body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 3rem;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 300px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.button {
    background-color: #555555;
    width: 300px;
    height: 300px;
    border-radius: 10px;

}

.button:hover::before {
    width: 300%;
        transition: 2s;
        transition-timing-function: linear ;
        transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.button::before {
    content: '';
    display: block;
    background-color: #fff;
    height: 50px;
    width: 0%;
    position: relative;
    right: 100%;
    bottom: 100px ;

}

.button:hover::after {
    color: #37cc3e;
    transition: 0.3s 1.7s;
}

.button::after {
    content: 'Успех!';
    color: #555555;
    position: relative;
    left: 80px;
    top: 70px;
    
}
